body,
div,
p {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .clear {
  clear: both;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
body a {
  cursor: pointer;
  font-family: "Microsoft YaHei";
  outline: medium none;
}
ul {
  list-style: none;
}
html {
  overflow: hidden;
}
body {
  width: 100%;
  *cursor: default;
  overflow: hidden;
  font: 16px/1.5 "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}
#pageContain {
  overflow: hidden;
}
.page {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.contain {
  width: 60%;
  height: 100%;
  display: none;
  position: relative;
  z-index: 0;
  left: 50%;
  margin-left: -30%;
}
.current .contain,
.slide .contain {
  display: block;
}
.current {
  display: block;
  z-index: 1;
}
.slide {
  display: block;
  z-index: 2;
}
.swipe {
  display: block;
  z-index: 3;
  transition-duration: 0ms !important;
  -webkit-transition-duration: 0ms !important;
}
#pageContain {
  overflow: hidden;
}
.txt {
  margin-top: 20%;
  font-size: 50px;
  color: #fff;
  text-align: center;
}
.logoPart {
  height: 26%;
  left: -4%;
  position: fixed;
  text-align: center;
  top: 2%;
  width: 17%;
  z-index: 10;
}
.logoPart.current .chatWayDv {
  display: block;
}
.logoPart:hover {
  cursor: pointer;
}
.logoPart .rRlogo {
  height: 30%;
  text-align: center;
}
.logoPart .rRlogo img {
  height: 100%;
}
.logoPart .chatWayDv {
  border: 3px solid #000;
  width: 100%;
  margin-top: 20px;
  display: none;
  margin-left: 34%;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.logoPart .chatWayDv .rowDv {
  width: 100%;
  margin: 0 auto;
  font-size: 80%;
  line-height: 190%;
}
.logoPart .chatWayDv .rowDv .leftFont {
  width: 34%;
  text-align: right;
}
.logoPart .chatWayDv .rowDv .rightFont {
  width: 60%;
  text-align: left;
}
.logoPart .chatWayDv .carrot {
  margin-left: -35%;
  position: absolute;
  top: 32%;
  width: 100%;
}
.logoPart .chatWayDv .carrot img {
  width: 5%;
}
.page {
  background-color: #fff;
}
.page .centerImg {
  text-align: center;
  width: 55%;
  position: relative;
  top: 20%;
  margin: 0 auto;
  height: 70%;
}
.page .centerImg .pageOneImgFont {
  width: 100%;
  position: relative;
}
.page .nameIn {
  position: absolute;
  width: 30%;
  margin-left: -37%;
}
.page .nameIn .faceImg {
  width: 100%;
}
.page .nameIn .nameFont {
  font-size: 18px;
  font-family: "Impact";
}
.page .teacherIntro {
  width: 85%;
}
.page .teacherIntro .title {
  font-size: 160%;
  font-weight: 600;
}
.page .teacherIntro .content {
  font-size: 90%;
  line-height: 220%;
  margin-top: 15px;
  text-align: left;
}
.page .t-in-Img {
  left: 60%;
  position: absolute;
  top: 20%;
  width: 40%;
}
.page .t-in-Img img {
  width: 100%;
}
.page .page1 {
  height: 100%;
  width: 55%;
}
.page1 .contain {
  width: 80%;
}
.page1 .nameIn {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -ms-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page1 .pageOneImgFont {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page1 .btnDv {
  margin-top: -105%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page1.current .nameIn {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: rotate(360);
  -moz-transform: rotate(360);
  -webkit-transform: rotate(360);
  -o-transform: rotate(360);
  transform: rotate(360);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page1.current .pageOneImgFont {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.page1.current .btnDv {
  margin-top: 15%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.page2 .nameIn {
  margin-left: 5%;
  text-align: center;
  top: 20%;
  width: 15%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page2 .erweima {
  width: 100%;
}
.page2 .erweima img {
  width: 100%;
}
.page2 .bb {
  font-size: 80%;
  color: #000;
  font-weight: 600;
  margin-top: 5%;
}
.page2 .gg {
  font-size: 75%;
  color: #9f9f9f;
  margin-top: 5%;
}
.page2 .teacherIntro .title {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page2 .teacherIntro .content {
  margin-top: -100%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page2 .t-in-Img {
  left: 160%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page2.current .nameIn {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: rotate(180);
  -moz-transform: rotate(180);
  -webkit-transform: rotate(180);
  -o-transform: rotate(180);
  transform: rotate(180);
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page2.current .teacherIntro .title {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.page2.current .teacherIntro .content {
  margin-top: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: rotate(180);
  -moz-transform: rotate(180);
  -webkit-transform: rotate(180);
  -o-transform: rotate(180);
  transform: rotate(180);
  -moz-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.page2.current .t-in-Img {
  left: 70%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
.page3 .centerImg {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 60%;
  left: -150%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page3 .t-in-Img {
  top: 20%;
  width: 35%;
  left: 160%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page3 .teacherIntro {
  width: 100%;
  color: #fff;
}
.page3 .appUserImg {
  top: 160%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page3 .appUserImg img {
  width: 50%;
}
.page3 .greenFont {
  color: #27e514;
  font-weight: 600;
}
.page3.current .centerImg {
  left: -5%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  font-size: 120% !important;
}
.page3.current .t-in-Img {
  left: 60%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page3.current .appUserImg {
  top: 60%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page4 {
  font-size: 100%;
}
.page4 .centerImg {
  width: 70%;
  margin: 0;
  left: -15%;
  font-size: 120% !important;
}
.page4 .centerImg .teacherIntro {
  width: 100%;
  margin-left: -150%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page4 .t-in-Img {
  width: 60%;
  left: 157%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page4 ul li i {
  background: url('../images/liImg.png') no-repeat;
  display: inline-block;
  height: 16px;
  padding-right: 1%;
  position: relative;
  top: 2px;
  width: 16px;
}
.page4 ul li.li1 i {
  background-position: 0 0;
}
.page4 ul li.li2 i {
  background-position: 0 -16px;
}
.page4 ul li.li3 i {
  background-position: 0 -32px;
}
.page4 ul li.li4 i {
  background-position: 0 -48px;
}
.page4 ul li.li5 i {
  background-position: 0 -64px;
}
.page4 ul li.li6 i {
  background-position: 0 -80px;
}
.page4 .bookImg {
  bottom: -140%;
  left: 45%;
  position: absolute;
  width: 30%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page4 .bookImg img {
  width: 100%;
}
.page4 .rulerImg {
  bottom: -108%;
  left: 0;
  position: absolute;
  width: 13%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page4 .rulerImg img {
  width: 100%;
}
.page4.current .teacherIntro {
  width: 100%;
  margin-left: 0;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page4.current .t-in-Img {
  left: 57%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page4.current .rulerImg {
  bottom: 8%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page4.current .bookImg {
  bottom: 14%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page5 .containPage5 {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
.page5 .teacherIntro {
  width: 100%;
  color: #fff;
  height: 100%;
}
.page5 .centerImgPage5 {
  position: relative;
  width: 60%;
  float: left;
  height: 100%;
  top: 150%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page5 .t-in-ImgPage5 {
  float: left;
  margin-left: 7%;
  width: 25%;
  margin-top: -110%;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page5 .content {
  height: 100%;
  font-size: 80% !important;
}
.page5 .content ul {
  height: 100%;
}
.page5 .content ul li {
  border-bottom: 1px dashed;
  height: 13%;
  padding: 3% 0;
}
.page5 .content ul li.full {
  padding-top: 0;
}
.page5 .content ul li.maxHe {
  height: 23%;
}
.page5 .imgface {
  height: 100%;
  width: 18%;
  text-align: center;
}
.page5 .imgface img {
  height: 75px;
}
.page5 .imgface .name {
  color: #%;
  font-size: 200%;
  font-weight: 400;
  text-align: center;
}
.page5 .contentFont {
  line-height: 170%;
  margin-left: 7%;
  width: 75%;
}
.page5 .contentFont .like {
  background: url('../images/finger.png');
  width: 16px;
  height: 17px;
  display: inline-block;
}
.page5 .contentFont .nolike {
  background: url('../images/finger.png') 16px 17px;
  width: 16px;
  height: 17px;
  display: inline-block;
}
.page5 .contentFont .numDv {
  font-size: 200%;
  color: #fff;
  text-align: right;
}
.page5.current .centerImgPage5 {
  top: 10%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page5.current .t-in-ImgPage5 {
  margin-top: 10%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page6 .containPage6 {
  height: 100%;
  margin: 0 auto;
  width: 1024px;
  position: relative;
}
.page6 .containPage6 .centerImg {
  height: 100%;
  text-align: center;
  top: 10%;
  width: 512px;
  margin: 0;
  left: -110%;
  overflow: hidden;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page6 .containPage6 .centerImg .dvOverShow {
  width: 1024px;
}
.page6 .containPage6 .nav-contral {
  position: absolute;
  top: -155%;
  width: 720px;
  z-index: 20;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page6 .containPage6 .nav-contral .leftImg {
  left: 0;
  position: relative;
  width: 14%;
}
.page6 .containPage6 .nav-contral .rightImg {
  position: absolute;
  right: 0;
  width: 14%;
}
.page6 .teacherIntro {
  width: 512px;
  font-weight: 600;
  font-size: 100%;
  float: left;
}
.page6 li {
  border-bottom: 1px dashed;
  padding: 15px 0;
}
.page6 li.full {
  padding-top: 0;
}
.page6 .content {
  font-size: 140%;
  line-height: 220%;
  margin-top: 15px;
  text-align: left;
}
.page6 .content .dv1 {
  float: left;
  padding-left: 5%;
  width: 22%;
}
.page6 .content .dv2 {
  width: 73%;
  float: left;
}
.page6 .content .blackBg {
  background-color: #000;
  color: #fff;
  font-size: 140%;
  line-height: 200%;
}
.page6 .content .rowDv {
  border-bottom: 1px solid #000;
  font-size: 80%;
  font-weight: normal;
}
.page6 .t-in-Img {
  left: 163%;
  position: absolute;
  top: 10%;
  width: 340px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page6.current .containPage6 .centerImg {
  left: 10%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page6.current .containPage6 .nav-contral {
  top: 45%;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page6.current .containPage6 .t-in-Img {
  left: 622px;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page7 .centerImg {
  top: 15%;
}
.page7 .centerImg .teacherIntro {
  width: 100%;
  height: 100%;
}
.page7 .centerImg .teacherIntro .title {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page7 .centerImg .teacherIntro .content {
  margin-top: 1500px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page7 .centerImg .content {
  height: 100%;
}
.page7 .centerImg .content .inputDv {
  height: 9%;
  margin-top: 7%;
  text-align: center;
}
.page7 .centerImg .content .inputDv input {
  border: 2px solid #000;
  font-family: "Microsoft YaHei";
  font-size: 120%;
  height: 100%;
  padding: 0 5%;
  width: 60%;
  -moz-outline: none;
  outline: none;
  blr: expression(this.onFocus=this.blur());
}
.page7 .centerImg .content .btnDv {
  height: 10%;
  left: 0;
  margin: 7% auto 0;
  position: relative;
  width: 60%;
}
.page7 .centerImg .content .btnDv button {
  border-color: #2fc989;
  background-color: #2fc989;
}
.page7 .centerImg .content .btnDv button:hover {
  background-color: #fff;
  color: #2fc989;
}
.page7.current .teacherIntro .title {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.page7.current .teacherIntro .content {
  margin-top: 15px;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.bullonPart {
  bottom: 5%;
  position: absolute;
  right: 60px;
  width: 21%;
  z-index: 12;
}
.bullonPart img {
  width: 100%;
}
.bullonPart .say {
  left: 26%;
  position: absolute;
  top: 12%;
  width: 29%;
  -webkit-animation: 8.75s ease-in-out 0s normal none infinite running sayRun;
  -moz-animation: 8.75s ease-in-out 0s normal none infinite running sayRun;
  -o-animation: 8.75s ease-in-out 0s normal none infinite running sayRun;
  -ms-animation: 8.75s ease-in-out 0s normal none infinite running sayRun;
  animation: 8.75s ease-in-out 0s normal none infinite running sayRun;
}
.bullonPart .listen {
  left: 18%;
  position: absolute;
  top: 47%;
  width: 29%;
  -webkit-animation: 7.5s ease-in-out 0s normal none infinite running dese;
  -moz-animation: 7.5s ease-in-out 0s normal none infinite running dese;
  -o-animation: 7.5s ease-in-out 0s normal none infinite running dese;
  -ms-animation: 7.5s ease-in-out 0s normal none infinite running dese;
  animation: 7.5s ease-in-out 0s normal none infinite running dese;
}
.bullonPart .write {
  left: 47%;
  position: absolute;
  top: 44%;
  width: 51%;
  -webkit-animation: 5.75s ease-in-out 0s normal none infinite running whiteRun;
  -moz-animation: 5.75s ease-in-out 0s normal none infinite running whiteRun;
  -o-animation: 5.75s ease-in-out 0s normal none infinite running whiteRun;
  -ms-animation: 5.75s ease-in-out 0s normal none infinite running whiteRun;
  animation: 5.75s ease-in-out 0s normal none infinite running whiteRun;
}
.bullonPart .read {
  left: 48%;
  position: absolute;
  top: 22%;
  width: 35%;
  -webkit-animation: 6.75s ease-in-out 0s normal none infinite running readRun;
  -moz-animation: 6.75s ease-in-out 0s normal none infinite running readRun;
  -o-animation: 6.75s ease-in-out 0s normal none infinite running readRun;
  -ms-animation: 6.75s ease-in-out 0s normal none infinite running readRun;
  animation: 6.75s ease-in-out 0s normal none infinite running readRun;
}
.bullonPart .grayBullon1 {
  -webkit-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  -moz-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  -o-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  -ms-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  animation: 6.75s ease-in-out 0s normal none infinite running dese;
  left: 43%;
  position: absolute;
  top: 15%;
  width: 25%;
}
.bullonPart .grayBullon2 {
  -webkit-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  -moz-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  -o-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  -ms-animation: 6.75s ease-in-out 0s normal none infinite running dese;
  animation: 6.75s ease-in-out 0s normal none infinite running dese;
  left: 6%;
  position: absolute;
  top: 31%;
  width: 42%;
}
.bullonPart .grayBullon3 {
  -webkit-animation: 6.75s ease-in-out 0s normal none infinite running sayRun;
  -moz-animation: 6.75s ease-in-out 0s normal none infinite running sayRun;
  -o-animation: 6.75s ease-in-out 0s normal none infinite running sayRun;
  -ms-animation: 6.75s ease-in-out 0s normal none infinite running sayRun;
  animation: 6.75s ease-in-out 0s normal none infinite running sayRun;
  left: 47%;
  position: absolute;
  top: 60%;
  width: 24%;
}
.bullonPart .ielts {
  left: 36%;
  position: absolute;
  top: 94%;
  width: 24%;
}
.btnDv {
  height: 12%;
  left: 10%;
  margin-top: 15%;
  position: relative;
  width: 50%;
}
.btnDv button {
  background-color: #8fbf40;
  border: 4px solid #fff;
  color: #fff;
  font-family: "Microsoft YaHei";
  font-size: 180%;
  font-weight: 600;
  height: 100%;
  width: 100%;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btnDv button:hover {
  background-color: #fff;
  color: #8fbf40;
  cursor: pointer;
}
.navPart {
  width: 800px;
  position: fixed;
  top: 6%;
  margin: 0 auto;
  z-index: 12;
  left: 50%;
  margin-left: -400px;
}
.navPart .baseDv {
  background-color: #cccccc;
  height: 3px;
  width: 100%;
}
.navPart #moveDv {
  background-color: #000;
  height: 3px;
  width: 0;
  margin-top: -3px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navPart #moveDv.move1 {
  width: 0;
}
.navPart #moveDv.move2 {
  width: 17%;
}
.navPart #moveDv.move3 {
  width: 35%;
}
.navPart #moveDv.move4 {
  width: 50%;
}
.navPart #moveDv.move5 {
  width: 65%;
}
.navPart #moveDv.move6 {
  width: 82%;
}
.navPart #moveDv.move7 {
  width: 100%;
}
.navPart .blockDv {
  margin-top: -9px;
}
.navPart .blockDv .item {
  height: 10px;
  width: 20px;
  border: 3px solid #cccccc;
  float: left;
  background-color: #fff;
  margin-right: 103px;
}
.navPart .blockDv .item.full {
  margin-right: 0;
}
.navPart .blockDv .item.active {
  border-color: #000000;
}
.navPart .blockDv .item:hover {
  cursor: pointer;
}
.navPart .nav-notice {
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 80%;
}
.navPart .nav-notice .ch-dv {
  border: 2px solid #000;
  float: left;
  width: 60px;
  position: absolute;
  display: none;
}
.navPart .nav-notice .ch-dv i {
  background: url("../images/carrot.png");
  display: block;
  height: 9px;
  position: absolute;
  top: -9px;
  width: 14px;
  left: 23px;
}
.navPart .nav-notice .ch-dv.ch-dv1 {
  left: -18px;
}
.navPart .nav-notice .ch-dv.ch-dv2 {
  left: 111px;
}
.navPart .nav-notice .ch-dv.ch-dv3 {
  left: 240px;
}
.navPart .nav-notice .ch-dv.ch-dv4 {
  left: 370px;
}
.navPart .nav-notice .ch-dv.ch-dv5 {
  left: 498px;
}
.navPart .nav-notice .ch-dv.ch-dv6 {
  left: 626px;
}
.navPart .nav-notice .ch-dv.ch-dv7 {
  left: 756px;
}
.page1 {
  background-color: #8fbf40;
}
.page2 {
  background-color: #fff;
}
.page3 {
  background-color: #8661ff;
}
.page4 {
  background-color: #29d568;
}
.page5 {
  background-color: #ff604b;
}
.page6 {
  background-color: #ece9e2;
}
.page7 {
  background-color: #fff;
}
.successDv {
  background-color: #000;
  height: 100%;
  left: 0;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 21;
  display: none;
}
.successPart {
  position: absolute;
  top: 20%;
  width: 381px;
  z-index: 22;
  left: 50%;
  margin-left: -190.5px;
  display: none;
}
.successPart .close {
  position: absolute;
  top: 0;
  right: 0;
}
.successPart .close:hover {
  cursor: pointer;
}
.successPart .successImg {
  position: relative;
  text-align: center;
}
.form-tips {
  position: absolute;
  cursor: default;
  height: 30px;
  width: 100%;
  z-index: 1340;
}
.form-tips .arrow {
  float: left;
  background: url("../images/tips/arrow.png") no-repeat left center;
  width: 5px;
  height: 30px;
}
.form-tips .tip-box {
  float: left;
  height: 30px;
}
.form-tips .tip-box .tip-top,
.form-tips .tip-box .tip-bottom {
  background: url("../images/tips/tips.png") no-repeat;
}
.form-tips .tip-box .tip-center,
.form-tips .tip-box .tip-content,
.form-tips .tip-box .tip-center-box .tip-top,
.form-tips .tip-box .tip-center-box .tip-bottom {
  background: url("../images/tips/bg.png") repeat;
}
.form-tips .tip-box .tip-left-box,
.form-tips .tip-box .tip-right-box {
  width: 4px;
  height: 30px;
  float: left;
}
.form-tips .tip-box .tip-left-box .tip-top,
.form-tips .tip-box .tip-right-box .tip-top,
.form-tips .tip-box .tip-left-box .tip-bottom,
.form-tips .tip-box .tip-right-box .tip-bottom {
  height: 4px;
}
.form-tips .tip-box .tip-left-box .tip-center,
.form-tips .tip-box .tip-right-box .tip-center {
  height: 22px;
}
.form-tips .tip-box .tip-left-box .tip-top {
  background-position: 0 0;
}
.form-tips .tip-box .tip-left-box .tip-bottom {
  background-position: 0 -4px;
}
.form-tips .tip-box .tip-right-box .tip-top {
  background-position: -4px 0;
}
.form-tips .tip-box .tip-right-box .tip-bottom {
  background-position: -4px -4px;
}
.form-tips .tip-box .tip-center-box {
  height: 30px;
  float: left;
}
.form-tips .tip-box .tip-center-box .tip-top,
.form-tips .tip-box .tip-center-box .tip-bottom {
  height: 4px;
}
.form-tips .tip-box .tip-center-box .tip-content {
  font-size: 12px;
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
}
@keyframes dese {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@-webkit-keyframes dese {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@-moz-keyframes dese {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@-o-keyframes dese {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@-ms-keyframes dese {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes whiteRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-webkit-keyframes whiteRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-moz-keyframes whiteRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-o-keyframes whiteRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-ms-keyframes whiteRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@keyframes sayRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-webkit-keyframes sayRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-moz-keyframes sayRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-o-keyframes sayRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-ms-keyframes sayRun {
  0% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  50% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@keyframes readRun {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-webkit-keyframes readRun {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-moz-keyframes readRun {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-o-keyframes readRun {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
@-ms-keyframes readRun {
  0% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  40% {
    -ms-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -ms-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
/*# sourceMappingURL=index.css.map */